@import "./index.scss";

.home-header{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/home-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .tagline{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 70%;
        padding: 1rem 0;

        .header-input{
            width: 60%;
            display: flex;
            align-items: center;
            gap: .8rem;
            padding: .8rem;
            border-radius: 300px;
            background-color: rgb(255, 255, 255,.8);
            backdrop-filter: blur(3px);
            box-shadow: 0 0 10px -2px rgb(0,0,0);

            label{
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                svg{
                    color: $orange;
                }
            }

            input{
                width: 100%;
                font-size: 1.2rem;
                border: none;
                outline: none;
                background-color: transparent;
            }
        }

        .trips{
            display: flex;
            align-items: center;
            gap: 2rem;
            
            .trip{
                background-color: rgb(255, 255, 255,.5);
                backdrop-filter: blur(3px);
                box-shadow: 0 0 10px -2px rgb(0,0,0);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5rem;
                position: relative;

                &:hover{
                    .trip-name{
                        transform: scale(1);
                    }
                }

                svg{
                    width: 2rem;
                    height: 2rem;
                }

                .trip-name{
                    padding: .1rem 0.3rem;
                    border-radius: .2rem;
                    background-color: white;
                    box-shadow: 0 0 10px -2px rgb(0,0,0);
                    position: absolute;
                    top: 120%;
                    transition: all .1s;
                    transform-origin: top;
                    transform: scale(0);
                    white-space: nowrap;
                }
            }
        }
    }
}

.trending-now,.book-hotels,.book-flights{
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80vw;
    position: relative;

    .countries,.areas{
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .country,.area{
            padding: .5rem 0.8rem;
            background-color: white;
            box-shadow: 0 0 10px -2px rgb(0,0,0,.5);
            border-radius: 200px;
            cursor: pointer;
        }

        .selected{
            background-color: $green;
            color: white;
        }
    }

    button{
        position: absolute;
        padding: 0.5rem;
        cursor: pointer;
        background-color: rgb(255, 255, 255,.9);
        box-shadow: 0 0 10px -2px rgb(0,0,0,.3);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        bottom: 12rem;
        z-index: 10;
    }

    .left-btn{
        left: -1.2rem;
    }

    .right-btn{
        right: -1.2rem;
    }

    .trending-container,.hotel-container,.flight-container{
        width: 80vw;
        overflow-x: hidden;
        
        .trending-list,.hotel-list,.flight-list{
            transition: all .5s;
            display: grid;
            width: calc(160vw + 1rem);
            grid-template-columns: repeat(10, 1fr);
            gap: 1rem;

            .flight-skeleton, .hotel-skeleton{
                background-color: white;
                border-radius: 1rem;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                border: 2px solid $hov;

                .img{
                    width: 100%;
                    padding-top: 100%;
                    background-color: $hov;
                    overflow: hidden;
                    position: relative;

                    &::after{
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 80%;
                        height: 100%;
                        transform: skewX(-20deg);
                        background-color: rgb(255,255,255,.08);
                        animation: skeleton_animation 1s linear infinite;
                    }
                }

                .info{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    padding: 0.8rem;

                    .stars, .review{
                        width: 75%;
                    }

                    .stars{
                        height: 1.2rem;
                    }

                    .route, .name{
                        width: 75%;
                        margin-bottom: .5rem;
                    }

                    .date, .seat{
                        width: 40%;
                    }

                    .price{
                        width: 55%;
                    }

                    div{
                        height: 1rem;
                        background-color: $hov;
                        border-radius: .2rem;
                        overflow: hidden;
                        position: relative;

                        &::after{
                            position: absolute;
                            content: "";
                            top: 0;
                            left: 0;
                            width: 80%;
                            height: 100%;
                            transform: skewX(-20deg);
                            background-color: rgb(255,255,255,.08);
                            animation: skeleton_animation 1s linear infinite;
                        }
                    }
                }
            }

            .trending,.hotel,.flight{
                background-color: white;
                border-radius: 1rem;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                border: 2px solid $hov;

                &:hover{
                    border: 2px solid $green;
                }

                img{
                    width: 100%;
                }

                &-info{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    padding: 0.8rem;

                    .hotel-stars{
                        display: flex;
                        align-items: center;
                        color: #ccc;

                        .filled{
                            color: gold;
                        }
                    }

                    .trending-price,.hotel-price,.flight-price{
                        font-weight: 700;
                        color: $orange;
                    }

                    .flight-routes{
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        .to-right{
            transform: translateX(calc(-80vw - 1rem));
        }
    }
}

@keyframes skeleton_animation {
    0% {transform: translateX(-150%) skewX(-20deg);}
    50% {transform: translateX(-60%) skewX(-20deg);}
    100% {transform: translateX(150%) skewX(-20deg);}
}

.travel-now{
    width: 80vw;
    margin: 5rem auto;
    height: 20vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1.2rem;
    gap: 1.5rem;
    border-radius: 1rem;
    border: 2px solid $green;
    
    img{
        height: calc(20vw - 2.4rem);
    }

    .text{
        font-size: 1.1rem;

        &-header{
            font-size: 2rem;
        }

        &-tag{
            font-size: 1.5rem;
        }
    }
}

.why-book-here{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 80vw;
    margin: 5rem auto;

    .header{
        font-size: 1.8rem;
    }

    .content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        .item{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            border: 2px solid $orange;
            box-shadow: 0 0 10px -2px rgb(0,0,0,.3);
            padding: 1rem;
            border-radius: 0 2rem 0 2rem;

            img{
                width: 80px;
            }

            .title{
                font-weight: 600;
                font-size: 1.2rem;
                text-align: center;
            }

            .text{
                text-align: center;
            }
        }
    }
}

.weather{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 5rem auto;

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;

        .input{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            border-radius: 10rem;
            border: 2px solid rgb(0,0,0,.3);
            padding-left: 1rem;
            width: 100%;

            &:focus-within{
                border-color: black;
            }

            input{
                font-size: 1.2rem;
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                background-color: transparent;
            }

            label{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem;
                background-color: $orange;
                border-radius: 5rem;
                color: white;
                cursor: pointer;
            }
        }

        .api-result{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.2rem;

            .img{
                display: flex;

                img{
                    width: 12rem;
                }
            }

            .info{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                .name{
                    font-size: 1.3rem;
                    font-weight: bold;
                    text-align: center;
                }

                .temp{
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    div{
                        padding: 0.5rem;
                        border: 1px solid $green;
                        border-radius: .2rem;
                    }
                }

                .local-time{
                    font-size: 1rem;
                    color: rgb(0,0,0,.7);
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {

    .home-header{

        .tagline{
            width: 100%;
            padding: 0 1rem;

            .header-input{
                width: 100%;
            }

            .trips{
                width: 90vw;
                justify-content: center;
            }
        }
    }

    .trending-now,.book-hotels,.book-flights{
        width: 100%;
        padding: 0 1rem;

        .countries{
            justify-content: space-between;
            gap: 0;

            .country,.area{
                padding: 0.3rem .5rem;
            }
        }
        
        .areas{
            gap: 1rem;

            .area{
                padding: 0.3rem .5rem;
            }
        }

        button{
            display: none;
        }

        .trending-container,.hotel-container,.flight-container{
            overflow-x: auto;
            width: 100%;

            .trending-list,.hotel-list,.flight-list{
                width: calc((100% * 10) + (1rem * 9));
            }
        }
    }

    .travel-now{
        width: calc(100% - 2rem);
        flex-direction: column;
        height: fit-content;

        img{
            width: 100%;
            height: fit-content;
        }
    }

    .why-book-here{
        width: 100%;
        padding: 0 1rem;
        gap: 2rem;

        .content{
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
        }
    }

    .weather{
        width: calc(100% - 2rem);
    }
}

@media screen and (min-width: 481px) and  (max-width: 1023px) {
    .home-header{
        .tagline{
            width: 90vw;
            
            h1{
                display: none;
            }

            .header-input{
                width: 80%;
            }
        }
    }

    .trending-now,.book-hotels,.book-flights{
        width: 90vw;

        button{
            bottom: 10rem;
        }

        .trending-container,.hotel-container,.flight-container{
            width: 90vw;
            overflow-x: hidden;

            .trending-list,.hotel-list,.flight-list{
                width: calc(180vw + (90vw / 2) + .75rem);
                gap: .5rem;
            }

            .to-right{
                transform: translateX(calc(-90vw - .5rem));
            }

            .to-right-2{
                transform: translate(calc(-90vw - .75rem - 45vw));
            }
        }
    }

    .travel-now{
        width: 90vw;
        height: 30vw;
    }

    .why-book-here{
        width: 90vw;
        
        .content{
            gap: 1rem;
        }
    }

    .weather{
        width: 50vw;
    }
}