$orange: #ff4d30;
$green: #03ac0e;
$hov: rgb(0,0,0,.1);

button{
   cursor: pointer;
}

.spinner {
   width: 24px;
   height: 24px;
   display: grid;
   animation: spinner-plncf9 4.8s infinite;
}

.spinner::before,
.spinner::after {
   content: "";
   grid-area: 1/1;
   border: 3.8px solid;
   border-radius: 50%;
   border-color: #000000 #000000 #0000 #0000;
   mix-blend-mode: darken;
   animation: spinner-plncf9 1.2s infinite linear;
}

.spinner::after {
   border-color: #0000 #0000 #dbdcef #dbdcef;
   animation-direction: reverse;
}

@keyframes spinner-plncf9 {
   100% {
      transform: rotate(1turn);
   }
}